* {
    box-sizing: border-box;
    
}

/*LOGANS A BEAST*/
body::-webkit-scrollbar{
    display: none;
}

/* Style the body */
body {
    font-family: Arial;
    margin: 0px;
    padding-bottom: 4rem;
    
}

a:link {
    color: rgb(61, 2, 155);
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: rgb(153, 0, 255);
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: rgb(4, 0, 255);
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color: rgb(255, 81, 0);
    background-color: transparent;
    text-decoration: underline;
}

.title {
    margin: 10px;
}

.buttons {
    position: sticky;
    top: 0;
}
/* Header/logo Title */
header {
    padding: 50px;
    text-align: center;
    background-image: url('./assets/IMAGES/juno.jpg');
    /*background: #8fd0c0;*/
    color: white;
    padding: 0px;
    
}

/* Increase the font size of the heading */
header h1 {
    font-size: 40px;
    margin: 0px;
}

header h4 {
    margin: 2rem;
}

.header img {
    width: 15rem;
    margin: 2.5% auto;
    border-radius: 50%;
    
}

img {
    display: flex;
    margin: auto;
    max-width:45%;
    
}

.gallery img {
    margin: 1rem 0px;;
}

/* Style the top navigation bar */
.navbar {
    overflow: hidden;
    background-color: #333;
    margin: 0px;
    display: flex;
    justify-content: flex-start;
}

/*style the navbar list items*/
.navbar li {
    list-style: none;
    margin: 0px 10px;
}

/* Style the navigation bar links */
.navbar a {
    display: flex;
    justify-content: flex-start;
    color: white;
    text-align: center;
    padding: 10px;
    text-decoration: none;
}

/* Right-aligned link */
.navbar a.right {
    float: right;
}

/* Change color on hover */
.navbar a:hover {
    background-color: #ddd;
    color: black;
}

/* Column container */
/* .row {  
    display: -ms-flexbox; 
    display: flex;
    -ms-flex-wrap: wrap; 
    flex-wrap: wrap;
} */

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
/* .side {
    -ms-flex: 30%;
    flex: 30%;
    background-color: #f1f1f1;
    padding: 30px;
} */

/* .booty {
    background-color: #d4d4d4;
} */

/* Main column */
.main {   
    padding: 30px;
}

/* Fake image, just for this example */
.fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
}

/* Footer */
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 4rem; 
    display:flex;
    justify-content: space-between;
    padding: 4px;
    text-align: left;
    background: #adadad;
    font-size: 12px;
    z-index: 10000;
}

footer h4 {
    text-align: right;
    font-size: 10px;
}

footer p {
    margin: 0;
}

.card .card-body a h5:hover {
    color: rgb(214, 214, 214);
    background-color:rgb(104, 104, 104);
}

@media screen and (max-width: 722px) {
    footer {
        height: 5rem; 
    }
}

/* Responsive layout - when the screen is less than 500px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 500px) {
    .row {   
        flex-direction: column;
    }
    
    .navbar a {
        float: none;
        width: 100%;
    }
}

/* Responsive layout - when the screen is less than 300px wide, make the navigation links stack on top of each other instead of next to each other */
/* @media screen and (max-width: 300px) {
    
} */